@import '../utils/base';

.visits-stats__nav-link {
  border-radius: 0 !important;
  padding-bottom: calc(.5rem - 3px) !important;
  border-bottom: 3px solid transparent;
  color: #5d6778;
  font-weight: 700;
  cursor: pointer;
}

.visits-stats__nav-link:hover {
  color: $mainColor !important;
}

.visits-stats__nav-link.active {
  border-color: $mainColor;
  background-color: white !important;
  color: $mainColor !important;
}
