@import '../utils/mixins/vertical-align';

.servers-list__list-group {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.servers-list__server-item.servers-list__server-item {
  text-align: left;
  position: relative;
  padding: .75rem 2.5rem .75rem 1rem;
}

.servers-list__server-item-icon {
  @include vertical-align();

  right: 1rem;
}
