{
  "extends": [
    "@shlinkio/js-coding-standard"
  ],
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "parserOptions": {
    "tsconfigRootDir": ".",
    "createDefaultProgram": true
  },
  "globals": {
    "process": true,
    "setImmediate": true
  },
  "rules": {
    "max-len": ["error", {
      "code": 120,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreComments": true
    }],
    "no-mixed-operators": "off",
    "object-shorthand": "off",
    "react/display-name": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/require-array-sort-compare": "off"
  }
}
