{
  "extends": [
    "@shlinkio/js-coding-standard"
  ],
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "parserOptions": {
    "tsconfigRootDir": ".",
    "createDefaultProgram": true
  },
  "globals": {
    "process": true,
    "setImmediate": true
  },
  "ignorePatterns": ["src/service*.ts"],
  "rules": {
    "complexity": "off"
  }
}
