services:
  shlink_web_client_node:
    container_name: shlink_web_client_node
    user: 1000:1000 # With this, files created via `indocker` script will belong to the host user
    build:
      context: .
      dockerfile: ./dev.Dockerfile
    command: /bin/sh -c "cd /home/shlink/www && npm install && npm run start"
    volumes:
      - ./:/home/shlink/www
    ports:
      - "3000:3000"
      - "56745:56745"
      - "4173:4173"
