@import '@shlinkio/shlink-frontend-kit/base';

.shlink-layout__swipeable {
  height: 100%;
}

.shlink-layout__swipeable-inner {
  height: 100%;
}

.shlink-layout__burger-icon {
  display: none;
  transition: color 300ms;
  position: fixed;
  top: 18px;
  z-index: 1035;
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(255 255 255 / .5);

  @media (max-width: $smMax) {
    display: inline-block;
  }
}

.shlink-layout__burger-icon--active {
  color: white;
}

.shlink-layout__container.shlink-layout__container {
  padding: 20px 0 0;
  min-height: 100%;

  @media (min-width: $mdMin) {
    padding: 30px 0 0 $asideMenuWidth;
  }
}
