@import '../../utils/base';

.highlight-card.highlight-card {
  text-align: center;
  border-top: 3px solid var(--brand-color);
  color: inherit;
  text-decoration: none;
}

.highlight-card__title {
  text-transform: uppercase;
  color: $textPlaceholder;
}
