@import "../../utils/mixins/vertical-align";

.short-urls-row__cell {
  vertical-align: middle !important;
}

.short-urls-row__cell--relative {
  position: relative;
}

.short-urls-row__copy-hint {
  @include vertical-align();
  right: 10px;
}
