.short-urls-visits-count__max-visits-control {
  cursor: help;
}

.short-url-visits-count__amount {
  transition: transform .3s ease;
  display: inline-block;
}

.short-url-visits-count__amount--big {
  transform: scale(1.5);
}

.short-url-visits-count__tooltip-list-item:not(:last-child) {
  margin-bottom: .5rem;
}
