@import '../../utils/base';
@import '../../utils/mixins/fit-with-margin';

.map-modal__modal {
  @media (min-width: $mdMin) {
    $margin: 20px;

    @include fit-with-margin($margin);
  }

  @media (max-width: $smMax) {
    $margin: 10px;

    @include fit-with-margin($margin);
  }
}

.map-modal__modal .modal-content {
  height: 100%;
}

.map-modal__modal .modal-body {
  padding: 0;
  display: flex;
  overflow: hidden;
}

.map-modal__modal .leaflet-container {
  flex: 1 1 auto;
  border-radius: 0 0 .3rem .3rem;
}
