@use '../../node_modules/@shlinkio/shlink-frontend-kit/dist/base';

.app-container {
  height: 100%;
}

.app {
  padding-top: base.$headerHeight;
  height: 100%;
}

.shlink-wrapper {
  min-height: 100%;
  padding-bottom: base.$footer-height + base.$footer-margin;
  margin-bottom: -(base.$footer-height + base.$footer-margin);
}

.shlink-footer {
  height: base.$footer-height;
  margin-top: base.$footer-margin;
  padding: 0;

  @media (min-width: base.$mdMin) {
    padding: 0 15px;
  }
}
