@import '../../../node_modules/@shlinkio/shlink-frontend-kit/dist/base';

// Main wrapper
.react-tags {
  position: relative;
  padding: 5px 0 0 6px;
  border-radius: .5rem;
  background-color: var(--primary-color);
  border: 1px solid var(--input-border-color);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.input-group > .react-tags {
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.card .react-tags {
  background-color: var(--input-color);
}

// Mimic bootstrap input focus ring
.react-tags.is-active {
  box-shadow: 0 0 0 .2rem rgb(70 150 229 / 25%);
}

.react-tags__label {
  display: none;
}

.react-tags__tag {
  font-size: 100%;
}

.react-tags__list {
  display: inline;
  vertical-align: 2px;
  padding: 0;
  list-style-type: none;
}

.react-tags__list-item {
  display: inline-block;
}
.react-tags__list-item:not(:last-child) {
  margin-right: 3px;
}

// The block to search
.react-tags__combobox {
  display: inline-block;

  /* match tag layout */
  padding: 6px 2px;
  margin-bottom: 5px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: $smMin) {
  .react-tags__combobox {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }
}

.react-tags__combobox-input {
  font-size: 1.25rem;
  line-height: inherit;
  color: var(--input-text-color);
  background-color: inherit;

  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0 0 0 7px;
  padding: 0;
  border: 0;
  outline: none;
}

.react-tags__combobox-input::placeholder {
  color: #6c757d;
}

.react-tags__combobox-input::-ms-clear {
  display: none;
}

.react-tags__listbox {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  margin: 4px -1px;
  padding: 0;
  background: var(--primary-color);
  border: 1px solid var(--border-color);
  border-radius: .25rem;
  box-shadow: 0 2px 6px rgb(0 0 0 / .2);
}

@media screen and (min-width: $smMin) {
  .react-tags__listbox {
    width: 240px;
  }
}

.react-tags__listbox .react-tags__listbox-option {
  padding: 8px 10px;
}

.react-tags__listbox .react-tags__listbox-option:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.react-tags__listbox .react-tags__listbox-option:hover:not(.react-tags__listbox-option--not-selectable) {
  cursor: pointer;
  background-color: var(--active-color);
}

.react-tags__listbox .react-tags__listbox-option.is-active {
  background-color: var(--active-color);
}

.react-tags__listbox .react-tags__listbox-option.is-disabled {
  opacity: .5;
  cursor: auto;
}
