@import '../utils/mixins/vertical-align';

.dropdown__btn.dropdown__btn,
.dropdown__btn.dropdown__btn:not(:disabled):not(.disabled).active,
.dropdown__btn.dropdown__btn:not(:disabled):not(.disabled):active,
.dropdown__btn.dropdown__btn:not(:disabled):not(.disabled):focus,
.dropdown__btn.dropdown__btn:not(:disabled):not(.disabled):hover,
.show > .dropdown__btn.dropdown__btn.dropdown-toggle {
  color: #6c757d;
  background-color: white;
  text-align: left;
  border-color: rgba(0, 0, 0, .125);
}

.dropdown__btn.dropdown__btn:after {
  @include vertical-align();

  right: .75rem;
}
