@import '../../utils/mixins/vertical-align';

.date-range-selector__btn.date-range-selector__btn,
.date-range-selector__btn.date-range-selector__btn:not(:disabled):not(.disabled).active,
.date-range-selector__btn.date-range-selector__btn:not(:disabled):not(.disabled):active,
.date-range-selector__btn.date-range-selector__btn:not(:disabled):not(.disabled):focus,
.date-range-selector__btn.date-range-selector__btn:not(:disabled):not(.disabled):hover,
.show > .date-range-selector__btn.date-range-selector__btn.dropdown-toggle {
  color: #6c757d;
  background-color: white;
  text-align: left;
  border-color: rgba(0, 0, 0, .125);
}

.date-range-selector__btn.date-range-selector__btn:after {
  @include vertical-align();

  right: .75rem;
}
