@import '../utils/base';

.create-short-url__save-btn {
  @media (max-width: $xsMax) {
    width: 100%;
    display: block;
  }
}

.create-short-url .form-group:last-child,
.create-short-url p:last-child {
  margin-bottom: 0;
}
