@import '../utils/base';

.short-urls-list__header {
  @media (max-width: $smMax) {
    display: none;
  }
}

.short-urls-list__header--with-action {
  cursor: pointer;
}

.short-urls-list__header-icon {
  margin-right: 5px;
}

.short-urls-list__header-icon--mobile {
  margin: 3.5px 0 0;
  float: right;
}

.short-urls-list__header-cell--with-action {
  cursor: pointer;
}

.short-urls-list__order-dropdown {
  width: 100%;
}
