@import './utils/base';
@import './utils/mixins/horizontal-align';

.app-container {
  height: 100%;
}

.app {
  padding-top: $headerHeight;
  height: 100%;
}

.shlink-wrapper {
  min-height: 100%;
  padding-bottom: $footer-height + $footer-margin;
  margin-bottom: -($footer-height + $footer-margin);
}

.shlink-footer {
  height: $footer-height;
  margin-top: $footer-margin;
  padding: 0;

  @media (min-width: $mdMin) {
    padding: 0 15px;
  }
}

.app__update-banner.app__update-banner {
  @include horizontal-align();

  position: fixed;
  top: $headerHeight - 25px;
  padding: 0 4rem 0 0;
  z-index: 1040;
  margin: 0;
  color: var(--text-color);
  text-align: center;
  width: 700px;
  max-width: calc(100% - 30px);
  box-shadow: 0 0 1rem var(--brand-color);
}
