@import './utils/base';

html,
body,
#root {
  height: 100%;
}

* {
  outline: none !important;
}

.nowrap {
  white-space: nowrap;
}

.bg-main {
  background-color: $mainColor !important;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $lightGrey !important;
  color: inherit !important;
}

.shlink-container {
  padding: 20px 0;

  @media (min-width: $mdMin) {
    padding: 30px 15px;
  }
}

.badge-main {
  color: #fff;
  background-color: $mainColor;
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
  display: block !important;
}

.navbar-brand {
  @media (max-width: $smMax) {
    margin: 0 auto !important;
  }
}
