@import './utils/base';

html,
body,
#root {
  height: 100%;
}

* {
  outline: none !important;
}

.nowrap {
  white-space: nowrap;
}

.bg-main {
  background-color: $mainColor !important;
}

.dropdown-item:not(:disabled) {
  cursor: pointer;
}

.dropdown-item.active:not(:disabled),
.dropdown-item:active:not(:disabled) {
  background-color: $lightGrey !important;
  color: inherit !important;
}

.badge-main {
  color: #fff;
  background-color: $mainColor;
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
  display: block !important;
}

.navbar-brand {
  @media (max-width: $smMax) {
    margin: 0 auto !important;
  }
}

.pagination .page-link {
  cursor: pointer;
}

.paddingless {
  padding: 0;
}

.indivisible {
  white-space: nowrap;
}

.react-datepicker__day--keyboard-selected {
  background-color: $mainColor;

  &:hover {
    background-color: darken($mainColor, 12%);
  }
}
