@import "./utils/base";

* {
  outline: none !important;
}

.nowrap {
  white-space: nowrap;
}

.dropdown-item.active {
  background-color: $mainColor !important;
}

.short-urls-container {
  padding: 30px 30px 30px 20px;
}
