@import 'tailwindcss' prefix(tw) important;
@import '@shlinkio/shlink-frontend-kit/tailwind.preset.css';
@import '@shlinkio/shlink-web-component/tailwind.preset.css';
@source '../node_modules/@shlinkio/shlink-frontend-kit';
@source '../node_modules/@shlinkio/shlink-web-component';

@layer base {
    :root {
        --footer-height: 2.3rem;
        --footer-margin: .8rem;
        /* Temp alias fo header-height to tw-header-height, so that shlink-web-component uses the right value  */
        --header-height: var(--tw-header-height);
    }
}
