@import 'tailwindcss' prefix(tw) important;
@source '../node_modules/@shlinkio/shlink-frontend-kit';
@import '@shlinkio/shlink-frontend-kit/tailwind.preset.css';

@theme {
    /* Override breakpoints with the values from bootstrap, to keep sizing until fully migrated */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1400px;
}

@layer base {
    :root {
        --header-height: 56px;
        --footer-height: 2.3rem;
        --footer-margin: .8rem;

        /* Width of ShlinkWebComponent's side menu when not collapsed */
        --aside-menu-width: 260px;
    }
}
