@import '../../../src/utils/mixins/vertical-align';
@import '../../../src/utils/base';

.icon-input-container {
  position: relative;
}

.icon-input-container__input {
  padding-right: 35px !important;
}

.icon-input-container__input:not(:disabled) {
  background-color: var(--primary-color) !important;
}

.card .icon-input-container__input:not(:disabled),
.dropdown .icon-input-container__input:not(:disabled) {
  background-color: var(--input-color) !important;
}

.icon-input-container__icon {
  @include vertical-align();

  right: .75rem;
  cursor: pointer;
}
