@import "../utils/base";
@import "../utils/mixins/border-radius";

.aside-menu {
  position: fixed !important;
  top: $headerHeight;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 30px 15px 15px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f7f7f7;
  border-right: 1px solid #eee;
}

.aside-menu__nav {
  @media(min-width: $smMin) {
    height: 100%;
  }
}

.aside-menu__item {
  padding: 10px 20px;
  margin: 0 -15px;
  text-decoration: none !important;
  cursor: pointer;
}
.aside-menu__item:hover {
  background-color: $lightHoverColor;
}

.aside-menu__item--selected {
  color: #fff;
  background-color: $mainColor;
}
.aside-menu__item--selected:hover {
  color: #fff;
  background-color: $mainColor;
}

.aside-menu__item--divider {
  border-bottom: 1px solid #eee;
  margin: 20px 0;
}

.aside-menu__item--danger {
  color: $dangerColor;
  margin: 0;
  margin-top: auto;
  @include border-radius(4px);
}
.aside-menu__item--danger:hover {
  color: #fff;
  background-color: $dangerColor;
}

.aside-menu__item-text {
  margin-left: 8px;
}
