@import "../utils/base";

.aside-menu {
  background-color: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $mdMin) {
    position: fixed !important;
    top: $headerHeight;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 30px 15px 15px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
  }
}

.aside-menu__nav {
  @media(min-width: $smMin) {
    height: 100%;
  }
}

.aside-menu__item {
  padding: 10px 20px;
  margin: 0 -15px;
  text-decoration: none !important;
  cursor: pointer;
}
.aside-menu__item:hover {
  background-color: $lightHoverColor;
}

.aside-menu__item--selected {
  color: #fff;
  background-color: $mainColor;
}
.aside-menu__item--selected:hover {
  color: #fff;
  background-color: $mainColor;
}

.aside-menu__item--divider {
  border-bottom: 1px solid #eee;
  margin: 20px 0;
}

.aside-menu__item--danger {
  color: $dangerColor;
  margin-top: auto;
}
.aside-menu__item--danger:hover {
  color: #fff;
  background-color: $dangerColor;
}

.aside-menu__item-text {
  margin-left: 8px;
}
