@import 'node_modules/@shlinkio/shlink-frontend-kit/dist/base';

.home__title {
  font-size: 1.75rem;

  @media (min-width: $mdMin) {
    font-size: 2.2rem;
  }
}

.home__servers-container {
  @media (min-width: $mdMin) {
    border-left: 1px solid var(--border-color);
  }
}
