name: Continuous integration

on:
  pull_request: null
  push:
    branches:
      - main
      - develop

jobs:
  ci:
    uses: shlinkio/github-actions/.github/workflows/web-app-ci.yml@main
    with:
      node-version: 16.15
      with-mutation-tests: true
      publish-coverage: true
      force-install: true
